.tabela th:last-child,
.tabela td:last-child,
.tabela th:nth-child(10),
.tabela td:nth-child(10),
.tabela th:nth-child(9),
.tabela th:nth-child(8),
.tabela td:nth-child(6),
.tabela td:nth-child(4),
.tabela th:nth-child(3),
.tabela th:nth-child(11),
.tabela td:nth-child(11)
 {
    width: 1%;
    white-space: nowrap;
    text-align: center;
}


.tabela td:nth-child(2){
    width: 1%;
    white-space: nowrap;
    text-align: center;
    padding-left: 40px;
}
.tabela td:nth-child(4),
.tabela th:nth-child(4),
.tabela td:nth-child(5),
.tabela th:nth-child(5),
.tabela td:nth-child(6),
.tabela th:nth-child(6),
.tabela td:nth-child(7),
.tabela th:nth-child(7),
.tabela td:nth-child(8),
.tabela th:nth-child(8),
.tabela td:nth-child(9),
.tabela th:nth-child(9),
.tabela td:nth-child(10),
.tabela th:nth-child(10),
.tabela td:nth-child(11),
.tabela th:nth-child(11),
.tabela td:nth-child(12),
.tabela th:nth-child(12){
    padding-right: 40px;
}